$navbar-height: 55px;
$sidebar-width: 180px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;


html, body {
  height: 100%;
  user-select: auto;
}

#navbar-box {
  height: $navbar-height;
  
  #navbar {
    position: fixed;
    height: $navbar-height;
    width: 100%;
    z-index: 2;
  }
}

#sidebar-column {
  position: sticky;
  top: 0;
  z-index: 1000;
}

#sidebar-box {
  height: auto;
  width: 100%;
  
  #sidebar {
    height: auto;
    width: 100%;

    .nav {
      padding: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      width: max-content;

      .nav-item {
        padding-bottom: 0;
        margin-left: 20px;
        margin-right: 20px;

        .nav-link {
          padding-left: 40px;
          padding-right: 40px;
          -webkit-user-drag: none;

          .b-icon {
            margin-right: 0;
          }
        }
      }
    }
  }
}

#router-view {
  margin: 15px;
}


@media (min-width: $breakpoint-sm) {
  #sidebar-box #sidebar .nav .nav-item {
    margin: 0;

    .nav-link {
      padding: 0.5rem 1rem;
      
      .b-icon {
        margin-right: 0.5rem !important;
      }
    }
  }
}


@media (min-width: $breakpoint-md) {
  #sidebar-box {
    height: 100%;
    width: $sidebar-width;
    
    #sidebar {
      position: fixed;
      height: 100%;
      width: $sidebar-width;

      .nav .nav-item {
        padding-bottom: 0.25rem;
      }
    }
  }
}